<!DOCTYPE html>
<html>
    
    <body>    
    <form method=POST action="/night_watch_edited">
        <fieldset>
            <legend>Edit</legend>
            <h1>For option</h1>
                <select name="to_change">
                    <option value = "contact">Contact Information</option>
                    <option value = "time">Time</option>
                    <option value = "route">Route</option>
                    <option value = "number_of_people">Number Of People</option>
                </select>
            <h1>New Text</h1>
            
            <input type="text" name="new_text">
            <h1>Key</h1>
            <input type="text" name="input-key">
        
            <input class = "button1" type ="submit" value="Go!">
        
        </fieldset>
    </form>
    </body>
    
</html>