<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Make a Group</title>
    <h1>Make a Group</h1>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form method=POST action="/make_group">
      <fieldset class="contactInfo">
        <legend> Please input group information </legend>
          Contact Info: <input type="text" name="input_contact">
          <br>
          Input Time: <input type="text" name="input_time" >
          <br>
          Input Route: <input type="text" name="input_route" >
          <br>
          Number of People: <input type="text" name="input_number_of_people">
      </fieldset>
    <input type ="submit" value="Go!">
  </body>
</html>
